.button {
  margin-right: 5px;
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(10, 8, 46);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px rgb(210, 209, 209);
}

.button:hover {
  background-color: rgb(137, 137, 137);
}

button[data='neutral'] {
  background-color: rgb(213, 165, 33);
}

button[data='neutral']:hover {
  background-color: rgb(137, 137, 137);
}

button[data='bad'] {
  background-color: rgb(100, 8, 103);
}

button[data='bad']:hover {
  background-color: rgb(137, 137, 137);
}
